.header {

  padding: 20px 0;
  border: 1px solid #dadada;

  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left, &__right {
    display: flex;
    flex-direction: column;
  }


  &__menu {
    display: flex;
  }

  &__logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: inherit;
  }

  &__logo-img {
    margin: 0 auto;
    max-width: 260px;
  }

  &__logo-text {
    font-size: 14px;
    color: #595959;
    text-align: center;
  }
}

.header-left {
  width: 100%;

  &__contacts {
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid #595959;
  }

  &__contacts span {
    padding: 0 5px;
  }

  &__phonelink {
    display: flex;
    align-items: center;
    color: inherit;
  }

  &__phonelink:before {
    margin-right: 20px;
    display: inline-block;
    width: 19px;
    height: 19px;
    content: "";
    background: url("/../img/tel-icon.png") center / cover no-repeat;
  }
}

.header-right {
  width: 100%;

  &__top, &__bottom {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  &__top {
    padding-bottom: 10px;
    border-bottom: 1px solid #595959;
  }

  &__search-form {
    position: relative;
  }

  &__search-btn {
    position: absolute;
    content: "";
    width: 24px;
    height: 30px;
    background: url("/../img/search-icon.png") center / contain no-repeat;
    display: block;
    padding: 0;
    margin: 0;
    top: 0;
    right: 5px;

  }

}
