.hero {
  height: 100%;
  background-color: #fafafa;
  //background: url('../img/hero-bg.jpg') center / cover no-repeat;
  //padding-bottom: 220px;
  // @include small-tablet {
  //   background: url('/../img/hero-bg2.png') center / contain no-repeat;
  //   padding-bottom: 50px;
  // }

  // @include small-tablet {
  //   background-position: center right;
  //   background-size: 125%;
  //   padding-bottom: 20px;
  // }

  &__content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    grid-template-areas:
    "content image"
    "buttons image"
    ;
    //padding-top: 50px;
    //width: 45%;

    @include tablet {
      padding-top: 0;
    }

    @include small-tablet {
      grid-template-columns: 100%;
      grid-template-rows: auto auto auto;
      grid-template-areas:
        "content"
        "image"
        "buttons"
      ;
    }

    @include mobile {
      grid-template-columns: 100%;
      grid-template-rows: auto auto auto;
      grid-template-areas:
        "image"
        "content"
        "buttons"
      ;
    }

  }

  &__main {
    grid-area: content;
  }

  &__title {
    margin-bottom: 30px;
    font-family: var(--font-family-main-title);
    //font-size: 58px;
    @include adaptive-value("font-size", 58, 44, 3);
    font-weight: bold;
    color: #40a60b;
    //line-height: 50px;

  }
  &__title span {
    display: inline-block;
    //padding-top: 15px;
    //font-size: 47px;
    @include adaptive-value("font-size", 47, 37, 3);
    //line-height: 44px;
    color: #2c2c2c;
  }

  &__descr {
    margin-bottom: 50px;
    font-style: italic;
    color: #636363;
    @include tablet {
      margin-bottom: 25px;
    }
  }

  &__list {
    grid-area: buttons;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

    @include small-tablet {
      grid-template-columns: repeat(4, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    @include mobile-480 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    @include small-mobile {
      grid-template-columns: 100%;
    }
  }

  &__list-title {
    text-align: center;
  }

  &__list-item {
    //min-width: 280px;
    height: 100%;
    color: var(--light-color);
  }

  &__list-item:nth-child(1) {
    background-color: #f7a436;
  }

  &__list-item:nth-child(2) {
    background-color: #6fce47;
  }

  &__list-item:nth-child(3) {
    background-color: #9ac428;
  }

  &__list-item:nth-child(4) {
    background-color: #ee7047;
  }

  &__list-link {
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @include tablet {
      padding: 40px 20px;
    }

    @include small-tablet {
      padding: 20px;
    }
  }

  &__list-link:hover {
    cursor: pointer;
  }

  &__list-img {
    width: 60px;
  }

  &__bg-img {
    grid-area: image;
    display: block;
    width: 125%;
    //object-fit: cover;

    @include small-tablet {
      position: relative;
      right: -15px;
      width: 100% !important;
    }
  }
}
