.report {

  &__container {
    background-color: #f4f4f4;
    border-radius: 5px;
  }

  &__content {
    padding-top: 10px;
    width: 60%;
    padding-bottom: 10px;
  }

  &__title {
    text-align: center;
  }

  &__btn {
    margin-left: auto;
  }
}

.table {
  &__head {
    background-color: #e8f1dc;
  }
}
