.partner-offer {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: var(--font-family-main-title);
    font-size: 48px;
    font-weight: bold;
    line-height: 0.709;
    color: rgb(61, 145, 160);
    text-align: center;
  }

  &__desc {
    max-width: 1035px;
    font-size: 24px;
    line-height: 1.5;
    color: rgb(106, 106, 1);
    text-align: center;

    .Сотрудничество_с_нашей_компанией_в_качестве_пар {
      font-size: 20px;
      font-family: "Roboto";
      color: rgb(106, 106, 109);
      line-height: 1.5;
      text-align: center;
      -moz-transform: matrix( 1.00000106148211,0,0,1.00012338938409,0,0);
      -webkit-transform: matrix( 1.00000106148211,0,0,1.00012338938409,0,0);
      -ms-transform: matrix( 1.00000106148211,0,0,1.00012338938409,0,0);
      position: absolute;
      left: 443.18px;
      top: 1204.391px;
      width: 1021.006px;
      height: 79px;
      z-index: 166;
    }

  }
}
