.partner-offer {
  background-image: url('../img/partnjorskaya-programma/offer-bg.png');
  background-size: contain;
  background-repeat: no-repeat;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 69px;
    padding-bottom: 108px;
  }

  &__pre-title-text {
    margin-bottom: 54px;
  }

  &__title {
    margin-bottom: 38px;
    font-family: var(--font-family-main-title);
    font-weight: 700;
    font-size: 48px;
    line-height: 0.709;
    text-align: center;
    color: rgb(61, 145, 160);
  }

  &__desc {
    margin-bottom: 57px;
    max-width: 1032px;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: rgb(106, 106, 109);
  }
}
