.contacts-info {
  &__container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100%;
    gap: 20px;
  }
}

.contacts-info-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 91px 120px;
  background-color: rgb(255, 255, 255);

  &__title {
    margin-bottom: 42px;
    font-family: var(--font-family-main-title);
    font-weight: 700;
    font-size: 34px;
    line-height: 1.001;
    color: rgb(58, 58, 58);
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contacts-info-form-block {
  padding: 91px 43px;
  background-color: rgb(255, 255, 255);
}

