<section class="about_product">
  <div class="container">
    <h2 class="title about_product__title">
      Наш Продукт
    </h2>
    <div class="about_product__content about_product-content">
      <div class="about_product-content__left">
        <ul class="list-reset about_product-content__list">
          <li class="about_product-content__item">
            <div>
              <h3>100% ОРГАНИЧЕСКИЙ</h3>
              <p>Мы производим наши продукты из свежих 100% - органических ингредиентов, полных витаминов и ценных питательных веществ</p>
            </div>
            <img src="/img/icons/icon_organic.png" alt="Органический">
          </li>
          <li class="about_product-content__item">
            <div>
              <h3>ПОЛЕЗЕН ДЛЯ ЗДОРОВЬЯ</h3>
              <p>Наши добавки разработаны для обогащения организма полезными веществами, чтобы укрепить ваше здоровье на всех уровнях</p>
            </div>
            <img src="/img/icons/icon_health.png" alt="Здоровье">
          </li>
        </ul>
      </div>
      <img src="/img/bud.png" alt="Бад">
      <div class="about_product-content__right">
        <ul class="list-reset about_product-content__list">
          <li class="about_product-content__item">
            <img src="/img/icons/icon_chemistry.png" alt="Химия">
            <div>
              <h3>БЕЗ ХИМИИ</h3>
              <p>Наши полезные добавки к пище не содержат искусственных веществ, а содержат только натуральные жизненно важные элементы</p>
            </div>
          </li>
          <li class="about_product-content__item">
            <img src="/img/icons/icon_energy.png" alt="Энергия">
            <div>
              <h3>ЗАРЯЖАЕТ ЭНЕРГИЕЙ</h3>
              <p>Наши продукты созданы как универсальные органические источники повышения уровня энергии для полноценной жизни</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
