<section class="section about-product">
  <div class="container">
    <h2 class="title about-product__title">
      Наш Продукт
    </h2>
    <ul class="list-reset about-product__list product-content">
      <li class="about-product__item product-item">
        <div class="product-item__textbl">
          <h3 class="product-item__title">100% ОРГАНИЧЕСКИЙ</h3>
          <p class="product-item__decr">Мы производим наши продукты из свежих 100% - органических ингредиентов, полных витаминов и ценных питательных веществ</p>
        </div>
        <img class="product-item__img" src="/img/icons/icon_organic.png" alt="Органический">
      </li>
      <li class="about-product__item product-item">
        <div class="product-item__textbl">
          <h3 class="product-item__title">ПОЛЕЗЕН ДЛЯ ЗДОРОВЬЯ</h3>
          <p class="product-item__decr">Наши добавки разработаны для обогащения организма полезными веществами, чтобы укрепить ваше здоровье на всех уровнях</p>
        </div>
        <img class="product-item__img" src="/img/icons/icon_health.png" alt="Здоровье">
      </li>



      <li class="about-product__item product-item">
        <div class="product-item__textbl">
          <h3 class="product-item__title">БЕЗ ХИМИИ</h3>
          <p class="product-item__decr">Наши полезные добавки к пище не содержат искусственных веществ, а содержат только натуральные жизненно важные элементы</p>
        </div>
        <img class="product-item__img" src="/img/icons/icon_chemistry.png" alt="Химия">
      </li>
      <li class="about-product__item product-item">
        <div class="product-item__textbl">
          <h3 class="product-item__title">ЗАРЯЖАЕТ ЭНЕРГИЕЙ</h3>
          <p class="product-item__decr">Наши продукты созданы как универсальные органические источники повышения уровня энергии для полноценной жизни</p>
        </div>
        <img class="product-item__img" src="/img/icons/icon_energy.png" alt="Энергия">
      </li>
      <img class="about-product__bud product__img" src="/img/bud.png" alt="Бад">
    </ul>
  </div>
</section>
