<section class="section about">
  <video autoplay muted loop class="about__bg-video">
    <source src="/img/1.mpg4" type="video/pm4">
    <source src="/img/1.webm" type="video/webm">
  </video>
  <div class="container">
    <h2 class="title about__title">
      О КОМПАНИИ
      <img class="about__title-img" src="/img/logo2.png" alt="Лого">
      VITAFEELING
    </h2>
    <p class="subtitle about__subtitle">Мы заботимся о Вашем здоровье</p>
    <ul class="list-reset about-list">
      <li class="about-list__item">
        <h3 class="about-list__title">НАША МИССИЯ</h3>
        <p class="about-list__desc">Vitafeeling - динамично развивающийся проект, цель которого - дарить радость от здорового образа жизни и сделать это доступным каждому. Мы помогаем людям заботиться о своём здоровье и здоровье своих близких, используя эффективные современные разработки в области нутрициологии из полезного и безопасного природного сырья.</p>
      </li>
      <li class="about-list__item">
        <h3 class="about-list__title">НАШЕ ПРОИЗВОДСТВО</h3>
        <p class="about-list__desc">Мы разрабатываем и производим биологически активные добавки, которые обеспечивают потребности организма в полезных питательных веществах для здоровья и красоты. Наша продукция производится только из натуральных ингредиентов: целебных растений, овощей и фруктов, без использования ГМО и вредной химии. Мы производим только то, что работает и даёт результаты.</p>
      </li>
      <li class="about-list__item">
        <h3 class="about-list__title">ПЕРСПЕКТИВНОСТЬ</h3>
        <p class="about-list__desc">Не останавливаясь в своём развитии, мы постоянно исследуем влияние различных натуральных веществ на организм человека, ищем новые безопасные средства для решения разнообразных проблем со здоровьем. В стремлении улучшить качество жизни людей, мы изучаем новейшие научные достижения и технологии, чтобы создавать наши БАДы в сбалансированной легкоусваиваемой форме.</p>
      </li>
    </ul>
  </div>
</section>
