<section class="section assortment">
  <div class="container assortment__container">
    <h2 class="title assortment__title">Весь Ассортимент</h2>
    <p class="subtitle assortment__subtitle">
      Случайная выборка продукции из каталога
    </p>
    <ul class="list-reset assortment__grid">
      <li class="assortment__grid-item">
        <a href="/product.html">
          <article class="product">
            <img class="product__img" src="/img/product1.jpg" alt="Тропи Фермент">
            <h3 class="product__name">Тропи Фермент</h3>
            <div class="product__info">
              <span class="product__formfact">60 таб</span>
              <span class="product__cost">1250 ₽</span>
              <button class="btn-reset product__cart">
                <img src="/img/icons/icon-cart.png" alt="Корзина">
              </button>
            </div>
          </article>
        </a>
      </li>
      <li class="assortment__grid-item">
        <article class="product">
          <img class="product__img" src="/img/product2.jpg" alt="Морской йод из фикуса">
          <h3 class="product__name">Морской йод из фикуса</h3>
          <div class="product__info">
            <span class="product__formfact">60 таб</span>
            <span class="product__cost">1250 ₽</span>
            <button class="btn-reset product__cart">
              <img src="/img/icons/icon-cart.png" alt="Корзина">
            </button>
          </div>
        </article>
      </li>
      <li class="assortment__grid-item">
        <article class="product">
          <img class="product__img" src="/img/product1.jpg" alt="Тропи Фермент">
          <h3 class="product__name">Тропи Фермент</h3>
          <div class="product__info">
            <span class="product__formfact">60 таб</span>
            <span class="product__cost">1250 ₽</span>
            <button class="btn-reset product__cart">
              <img src="/img/icons/icon-cart.png" alt="Корзина">
            </button>
          </div>
        </article>
      </li>
      <li class="assortment__grid-item">
        <article class="product">
          <img class="product__img" src="/img/product2.jpg" alt="Морской йод из фикуса">
          <h3 class="product__name">Морской йод из фикуса</h3>
          <div class="product__info">
            <span class="product__formfact">60 таб</span>
            <span class="product__cost">1250 ₽</span>
            <button class="btn-reset product__cart">
              <img src="/img/icons/icon-cart.png" alt="Корзина">
            </button>
          </div>
        </article>
      </li>
      <li class="assortment__grid-item">
        <article class="product">
          <img class="product__img" src="/img/product1.jpg" alt="Тропи Фермент">
          <h3 class="product__name">Тропи Фермент</h3>
          <div class="product__info">
            <span class="product__formfact">60 таб</span>
            <span class="product__cost">1250 ₽</span>
            <button class="btn-reset product__cart">
              <img src="/img/icons/icon-cart.png" alt="Корзина">
            </button>
          </div>
        </article>
      </li>
      <li class="assortment__grid-item">
        <article class="product">
          <img class="product__img" src="/img/product2.jpg" alt="Морской йод из фикуса">
          <h3 class="product__name">Морской йод из фикуса</h3>
          <div class="product__info">
            <span class="product__formfact">60 таб</span>
            <span class="product__cost">1250 ₽</span>
            <button class="btn-reset product__cart">
              <img src="/img/icons/icon-cart.png" alt="Корзина">
            </button>
          </div>
        </article>
      </li>
      <li class="assortment__grid-item">
        <article class="product">
          <img class="product__img" src="/img/product1.jpg" alt="Тропи Фермент">
          <h3 class="product__name">Тропи Фермент</h3>
          <div class="product__info">
            <span class="product__formfact">60 таб</span>
            <span class="product__cost">1250 ₽</span>
            <button class="btn-reset product__cart">
              <img src="/img/icons/icon-cart.png" alt="Корзина">
            </button>
          </div>
        </article>
      </li>
      <li class="assortment__grid-item">
        <article class="product">
          <img class="product__img" src="/img/product2.jpg" alt="Морской йод из фикуса">
          <h3 class="product__name">Морской йод из фикуса</h3>
          <div class="product__info">
            <span class="product__formfact">60 таб</span>
            <span class="product__cost">1250 ₽</span>
            <button class="btn-reset product__cart">
              <img src="/img/icons/icon-cart.png" alt="Корзина">
            </button>
          </div>
        </article>
      </li>
      <li class="assortment__grid-item">
        <article class="product">
          <img class="product__img" src="/img/product1.jpg" alt="Тропи Фермент">
          <h3 class="product__name">Тропи Фермент</h3>
          <div class="product__info">
            <span class="product__formfact">60 таб</span>
            <span class="product__cost">1250 ₽</span>
            <button class="btn-reset product__cart">
              <img src="/img/icons/icon-cart.png" alt="Корзина">
            </button>
          </div>
        </article>
      </li>
      <li class="assortment__grid-item">
        <article class="product">
          <img class="product__img" src="/img/product2.jpg" alt="Морской йод из фикуса">
          <h3 class="product__name">Морской йод из фикуса</h3>
          <div class="product__info">
            <span class="product__formfact">60 таб</span>
            <span class="product__cost">1250 ₽</span>
            <button class="btn-reset product__cart">
              <img src="/img/icons/icon-cart.png" alt="Корзина">
            </button>
          </div>
        </article>
      </li>
      <li class="assortment__grid-item">
        <article class="product">
          <img class="product__img" src="/img/product1.jpg" alt="Тропи Фермент">
          <h3 class="product__name">Тропи Фермент</h3>
          <div class="product__info">
            <span class="product__formfact">60 таб</span>
            <span class="product__cost">1250 ₽</span>
            <button class="btn-reset product__cart">
              <img src="/img/icons/icon-cart.png" alt="Корзина">
            </button>
          </div>
        </article>
      </li>
      <li class="assortment__grid-item">
        <article class="product">
          <img class="product__img" src="/img/product2.jpg" alt="Морской йод из фикуса">
          <h3 class="product__name">Морской йод из фикуса</h3>
          <div class="product__info">
            <span class="product__formfact">60 таб</span>
            <span class="product__cost">1250 ₽</span>
            <button class="btn-reset product__cart">
              <img src="/img/icons/icon-cart.png" alt="Корзина">
            </button>
          </div>
        </article>
      </li>
    </ul>
    <div class="assortment__btn-block">
      <button class="btn-reset btn btn__more">показать больше</button>
      <a class="btn-reset btn btn__catalog" href="#">перейти в каталог</a>
    </div>
  </div>
</section>
