<section class=" section assortment">
  <div class="container assortment__container">
    <h2 class="title assortment__title">Весь Ассортимент</h2>
    <ul class="list-reset">
      <li>
        <article>
          <img src="" alt="">
          <h3>КОЛЛАГЕН МОРСКОЙ</h3>
          <div>
            <span>150 гр</span>
            <span>800 ₽</span>
            <button></button>
          </div>
        </article>
      </li>
      <li>
        <article>
          <img src="" alt="">
          <h3>Нони сок с мякотью жидк./ Noni juice with pulp liquid/ MORELET</h3>
          <div>
            <span>500 мл</span>
            <span>800 ₽</span>
            <button></button>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
