<section class="section blog">
  <div class="container blog__container">
    <h2 class="title blog__title">Блог</h2>
    <p class="subtitle blog__subtitle">Интересные и полезные знания о здоровье</p>
    <ul class="list-reset blog__artical-list">
      <li class="blog__artical-item">
        <article class="blog__article">
          <img class="blog__article-img" src="/img/blog1.jpg" alt="">
          <p class="blog__article-rublic">наша марка</p>
          <h3 class="blog__article-title">Наша исследовательская лаборатория</h3>
          <p class="blog__article-text">Краткая выдержка из начала статьи</p>
          <button class="btn-reset btn blog__btn" >Читать дальше</button>
        </article>
      </li>
      <li class="blog__artical-item">
        <article class="blog__article">
          <img class="blog__article-img" src="/img/blog2.jpg" alt="">
          <p class="blog__article-rublic">Витамины</p>
          <h3 class="blog__article-title">Витамины для человеческого организма и их полезность...</h3>
          <p class="blog__article-text">Краткая выдержка из начала статьи</p>
          <button class="btn-reset btn blog__btn" >Читать дальше</button>
        </article>
      </li>
      <li class="blog__artical-item">
        <article class="blog__article">
          <img class="blog__article-img" src="/img/blog3.jpg" alt="">
          <p class="blog__article-rublic">Целебные растения</p>
          <h3 class="blog__article-title">Фитостерины - исцеляющие свойства многих</h3>
          <p class="blog__article-text">Краткая выдержка из начала статьи</p>
          <button class="btn-reset btn blog__btn" >Читать дальше</button>
        </article>
      </li>
    </ul>
  </div>
</section>
