<section class="consultation">
  <div class="container consultation__container">
    <img src="/img/doctor.png" alt="Доктор">
    <div class="consultation__content">
      <h2 class="title consultation__title">Консультация специалиста</h2>
      <p class="consultation__text">Если вы не знаете, что из продукции Vitafeeling лучше подойдёт для вашего здоровья, но наш специалист проконсультирует ва и поможет подобрать подходящий монопрепарат или курс препаратов, исходя из индивидуальных особенностей и потребностей вашего организма. Эта услуга совершенно бесплатна, просто заполните форму и мы свяжемся с вами:</p>
      <form class="consultation__form" action="">
        <input class="input-reset consultation__phone-input" type="tel" placeholder="Телефон">
        <button class="btn-reset btn consultation__btn">Получить консультацию</button>
      </form>
    </div>
  </div>
</section>
