<footer class="footer">
  <div class="container footer__container">
    <ul class="list-reset footer__list footer__connect">
      <li class="footer__title">Присоединяйтесь</li>
      <li class="footer__item">Наши группы в соцсетях:</li>
      <li class="footer__item footer__social">
        <a href=""><img src="/img/icons/icon_teleg.png" alt="Телеграмм"></a>
        <a href=""><img src="/img/icons/icon_insta.png" alt="Истаграм"></a>
        <a href=""><img src="/img/icons/icon_ok.png" alt="Одноклассники"></a>
        <a href=""><img src="/img/icons/icon_gm.png" alt="GM"></a>
      </li>

    </ul>
    <ul class="list-reset footer__list">
      <li class="footer__title">Интернет-магазин</li>
      <li class="footer__item"><a class="footer__item-link" href="">Каталог продукции</a></li>
      <li class="footer__item"><a class="footer__item-link" href="">Способы доставки</a></li>
      <li class="footer__item"><a class="footer__item-link" href="">Условия возврата</a></li>
    </ul>
    <ul class="list-reset footer__list">
      <li class="footer__title">Дополнительно</li>
      <li class="footer__item"><a class="footer__item-link" href="">Партнерская программа</a></li>
      <li class="footer__item"><a class="footer__item-link" href="">Условия продажи</a></li>
      <li class="footer__item"><a class="footer__item-link" href="">Политика конфиденциальности</a></li>
    </ul>
    <ul class="list-reset footer__list footer__contacts">
      <li class="footer__title">Контакты</li>
      <li class="footer__item"><a class="footer__item-link" href="">Тел: 8 (800) 950 23 23</a></li>
      <li class="footer__item"><a class="footer__item-link" href="">Адрес: 125480, Москва, ул. Вилиса Лациса, 6К1</a></li>
    </ul>
  </div>
  <div class="container_fluid footer__copyright-block">
    <p class="footer__copyright">Компания VitaFeeling &copy; Все права защищены</p>
  </div>
</footer>
