<header class="header">
  <div class="container header__container">
    <div class="header__left header-left">
      <div class="header-left__contacts">
        <a class="header-left__phonelink" href="tel:+79266064028">+7 926 606 40 28</a>
        <span>|</span>
        <a href="#">Контакты</a>
      </div>
      <nav class="nav header__nav">
        <ul class="list-reset header__menu">
          <li><a href="">Каталог продукции</a></li>
          <li><a href="">vita-feeling</a></li>
          <li><a href="">Наша марка</a></li>
        </ul>
      </nav>
    </div>
    <a href="#" class="header__logo">
      <img class="header__logo-img" src="/img/logo.png" alt="Лого">
      <span class="header__logo-text">товары не являются лекарственными средствами</span>
    </a>
    <div class="header__right header-right">
      <div class="header-right__top">
        <form class="header-right__search-form" action="">
          <input type="text" placeholder="Поиск">
          <button class="btn-reset header-right__search-btn"></button>
        </form>
        <a href="">Вход / Регистрация</a>
      </div>
      <div class="header-right__bottom">
        <a href="">Партнёрская программа</a>
        <button class="btn-reset">Корзина</button>
      </div>
    </div>
  </div>
</header>
