<header class="header">
  <div class="container header__container">
    <div>
      <a class="header__phonelink" href="tel:+79266064028">+7 926 606 40 28</a>
        <span>|</span>
      <a class="header__contacts-btn"href="/contacts.html">Контакты</a>
      <div>
        <button class="btn-reset">Каталог продукции</button>
        <a href="">Наша марка</a>
        <a href="/blog.html">Блог</a>
      </div>
    </div>
    <a href="/index.html" class="header__logo">
      <img class="header__logo-img" src="/img/logo.png" alt="Лого">
    </a>
    <div>
      <div class="header__login">
        <a href="">Вход / Регистрация</a>
      </div>
      <div>
        <a href="/partnjorskaya-programma.html">Партнёрская программа</a>
        <a href="">
          <img src="/img/icons/icon-cart.png" alt="Cart">
        </a>
        <form class="header__search">
          <input type="text" class="input" placeholder="Поиск">
          <button type="submit"></button>
        </form>
      </div>
    </div>

  </div>
</header>
@include('menu.html')
