<section class="hero">
  <div class="container hero__container">
    <div class="hero__contant">
      <h1 class="hero__title">ПИЩЕВЫЕ ДОБАВКИ <span>ПОЛЕЗНЫ ДЛЯ ЗДОРОВЬЯ</span></h1>
      <p class="hero__descr">Натуральные биологически активные добавки к пище для вашего здоровья, красоты и активного долголетия</p>
      <ul class="list-reset hero__list">
        <li class="hero__list-item">
          <a class="hero__list-link" href="">
            <img class="hero__list-img" src="/img/vitamin-icon.png" alt="">
            <h2 class="hero__list-title">Витамины</h2>
          </a>
        </li>
        <li class="hero__list-item">
          <a class="hero__list-link" href="">
            <img class="hero__list-img" src="" alt="">
            <h2 class="hero__list-title">Миниралы</h2>
          </a>
        </li>
        <li class="hero__list-item">
          <a class="hero__list-link" href="">
            <img class="hero__list-img" src="" alt="">
            <h2 class="hero__list-title">Назначение</h2>
          </a>
        </li>

        <li class="hero__list-item">
          <a class="hero__list-link" href="">
            <img class="hero__list-img" src="" alt="">
            <h2 class="hero__list-title">Наша марка</h2>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
