<section class="section hero">
  <div class="container hero__container">
    <div class="hero__content">
      <div class="hero__main">
        <h1 class="hero__title">ПИЩЕВЫЕ ДОБАВКИ <span>ПОЛЕЗНЫ ДЛЯ ЗДОРОВЬЯ</span></h1>
        <p class="hero__descr">Натуральные биологически активные добавки к пище для вашего здоровья, красоты и активного долголетия</p>
      </div>
      <ul class="list-reset hero__list">
        <li class="hero__list-item">
          <a class="hero__list-link" href="">
            <img class="hero__list-img" src="/img/icons/icon_vitamin.png" alt="Витамины">
            <h2 class="hero__list-title">Витамины</h2>
          </a>
        </li>
        <li class="hero__list-item">
          <a class="hero__list-link" href="">
            <img class="hero__list-img" src="/img/icons/icon_mineral.png" alt="Минералы">
            <h2 class="hero__list-title">Минералы</h2>
          </a>
        </li>
        <li class="hero__list-item">
          <a class="hero__list-link" href="">
            <img class="hero__list-img" src="/img/icons/icon_purpose.png" alt="Назначение">
            <h2 class="hero__list-title">Назначение</h2>
          </a>
        </li>
        <li class="hero__list-item">
          <a class="hero__list-link" href="">
            <img class="hero__list-img" src="/img/icons/icon_mark.png" alt="Наша марка">
            <h2 class="hero__list-title">Наша марка</h2>
          </a>
        </li>
      </ul>
      <div class="hero__bg-img">
        <img src="/img/hero-bg.png" alt="">
      </div>
    </div>
  </div>
</section>
