<div class="menu">
  <div class="container menu__container">
    <ul class="menu__list list-reset multi-column">
      <!-- <li>
        <h3>Витамины</h3>
        <ul class="list-reset">
          <li><a href="">Витаминные комплексы</a></li>
          <li><a href="">Витамины для детей</a></li>
          <li><a href="">Витамины отдельно:</a>
            <ul class="list-reset">
              <li><a href="">– A, A&D</a>
                <ul class="list-reset">
                  <li><a href=""></a></li>
                </ul>
              </li>
              <li><a href="">– группа B:</a>
                <ul class="list-reset">
                  <li><a href="">B-complex</a></li>
                  <li><a href="">B-1-тиамин</a></li>
                  <li><a href="">B-2-ребофловин</a></li>
                  <li><a href="">B-3-ниацин, никотиновая кислота</a></li>
                  <li><a href="">B-4-холин</a></li>
                  <li><a href="">B-5-пантотеновая кислота</a></li>
                  <li><a href="">B-6-пиридоксин</a></li>
                  <li><a href="">B-7-биотин</a></li>
                  <li><a href="">B-8-инозитол</a></li>
                  <li><a href="">B-9-фолиевая кислота</a></li>

                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li> -->
      <h3 class="menu__title">Витамины</h3>
      <h3 class="menu__title">Минералы</h3>
      <h3 class="menu__title">По назначению</h3>
    </ul>
  </div>
</div>







<!-- B-10-парааминобензойная кислота

B-11-карнитин, L-карнитин
    B12-кобаломины
    B-13-ороторовая кислота
    B-14-кофермент, коэнзим
    B-15-пангамовая кислота
    B-16-диметилглицин
    B-17-амигдалин
– C
– D, D-2, D-3
– K, K-2
– N-липоевая кислота
– P-биофлавоноиды
– U- S-метилметионин

B-17-амигдалин
– C
– D, D-2, D-3
– K, K-2
– N-липоевая кислота
– P-биофлавоноиды
– U- S-метилметионин


МИНЕРАЛЫ
– минеральные комплексы:
    Ca-кальций
    Mg-магний
    K-калий
    Au-серебро
    Zn-цинк
    Fe-железо
    Si-кремний
    Cr-хром
    Mo-молибден
    Cu-медь
    Mn-марганец
    V-ванадий
    B-бор
    I-йод
    MSM- хелатная сера
    Se-селен

    B-бор
    I-йод
    MSM- хелатная сера
    Se-селен


ПО НАЗНАЧЕНИЮ
Иммунитет
Репродуктивная деятельность, Потенция
Здоровый Сон
Менопауза
Омега-3 и полезные масла
Полезная Флора
Сердечно-сосудистая система:
– Aртериальное давление
– Кровь
– Очищение сосудов
Нервная система и головной мозг:
– Питание клеток мозга
– Внутричерепное давление
Антиоксиданты и Detox body
Желудочно-кишечный тракт (ЖКТ):
– Микрофлора желудка
– Кислотно-щелочной баланс (РН)
Печень:
– Очищение печени
– Нормализация работы
Почки
Суставы и связки
Диета и коррекция веса
Аллергия
Спортивное питание:
– Аминокислоты
– Предтренировочные комплексы
Онкология и профилактика рака
Органы дыхания
Beauty style:
– Комплекс «Кожа, волосы, ногти»
– Коктейли
Vegan food
Food future

Желудочно-кишечный тракт:
– Микрофлора желудка
– Кислотно-щелочной баланс (РН)
Печень:
– Очищение печени
– Нормализация работы
Почки
Суставы и связки
Диета и коррекция веса:
– Vegan food & Food future
– Нормализация работы
Аллергия
Спортивное питание:
– Аминокислоты
– Предтренировочные комплексы
Онкология и профилактика рака
Органы дыхания
Beauty style:
– Комплекс «Кожа, волосы, ногти»
– Коктейли
Vegan food
Food future -->
