<section class="product-top">
  <div class="container product-top__container">
    <div class="cardкк">
      <h2 class="titleкеке">Морской йод из фикуса</h1>
			<div class="card-slider">
				<div class="card-slider__nav slider-nav">
					<div class="slider-nav__item" tabindex="0"><img src="img/macbook.jpg" alt=""></div>
					<div class="slider-nav__item" tabindex="0"><img src="img/macbook.jpg" alt=""></div>
					<div class="slider-nav__item" tabindex="0"><img src="img/macbook.jpg" alt=""></div>
					<div class="slider-nav__item" tabindex="0"><img src="img/macbook.jpg" alt=""></div>
					<div class="slider-nav__item" tabindex="0"><img src="img/macbook.jpg" alt=""></div>
					<div class="slider-nav__item" tabindex="0"><img src="img/macbook.jpg" alt=""></div>
					<div class="slider-nav__item" tabindex="0"><img src="img/macbook.jpg" alt=""></div>
					<div class="slider-nav__item" tabindex="0"><img src="img/macbook.jpg" alt=""></div>
				</div>
				<div class="card-slider__block slider-block">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="img/macbook.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img src="img/macbook.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img src="img/macbook.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img src="img/macbook.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img src="img/macbook.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img src="img/macbook.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img src="img/macbook.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img src="img/macbook.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="card-info">
				<div class="testimonials">
					<div class="rating">
						<img src="img/star.svg" alt="Рейтинг 5 из 5">
						<img src="img/star.svg" alt="">
						<img src="img/star.svg" alt="">
						<img src="img/star.svg" alt="">
						<img src="img/star.svg" alt="">
					</div>
					<a href="#" class="testimonials__link">Отзывы 83</a>
				</div>
				<span class="available">В началии: 13 шт</span>
				<div class="price">
					<span class="price__current">190 789 ₽</span>
					<span class="price__old">194 578 ₽</span>
				</div>
				<button class="buy">Добавить в корзину</button>
			</div>
		</div>
  </div>
</section>
