<section class="partner-about">
  <div class="container">
    <span class="pre-title-text">Как это работает</span>
    <h2>Подключайтесь к нашей Партнёрской программе</h2>
    <ul>
      <li>
        <h3>Пройдите простую регистрацию</h3>
        <p>Вы регистрируетесь на нашем сайте в качестве реферала. Вам присваивается  ID с доменом третьего уровня и выдаётся реферальная ссылка для отслеживания системой с целью начисления процентов с продаж</p>
      </li>
      <li>
        <h3>Продвигайте продукцию VitaFeelling</h3>
        <p>Используя свою реферальную ссылку, Вы делаете публикации с рекламой нашей продукции в РСЯ (рекламная сеть Яндекса), различных соцсетях, на досках объявлений и прочих интернет-ресурсах, доступных вам</p>
      </li>
      <li>
        <h3>Получайте своё вознаграждение</h3>
        <p>Вы получаете процент с покупок, совершаемых людьми, пришедшими по вашей реферальной ссылке. Ваши покупатели будут учитываться системой для отслеживания дальнейших покупок с последующим начислением комиссионных</p>
      </li>
    </ul>
  </div>
</section>
