<section class="partner-details">
  <div class="container">
    <ul>
      <li>
        <span>Детали нашей программы</span>
        <h3>Условия для вашего удобства</h3>
        <ul>
          <li>Вы должны иметь юридический статус: самозанятый, ИП или другой вид аккредитации.</li>
          <li>Мы гарантируем вам прозрачную статистику продаж и выплат вознаграждения.</li>
          <li>Мы предоставляем вам двухуровневую Партнёрскую программу:

          </li>
        </ul>
        <a href="">Присоединиться к программе</a>
      </li>
      <li>
        <span>Перспективы партнёрства с нами</span>
        <h3>Осуществляйте свои мечты</h3>
        <p>Партнёрство с нашей компанией открывает для вас возможность создать свой собственный бизнес. Это можно осуществить следующим образом:</p>
        <ul>
          <li>Вы создаёте себе базу постоянных покупателей из своего региона. Минимально необходимая база – 2000 человек.</li>
          <li>о усреднённым статистическим данным, 2000 человек закупают в год продукции для здоровья примерно на 12 000 000 рублей. Этих средств вполне достаточно для открытия в вашем регионе постоянного пункта выдачи товаров со своим складом.</li>
          <li>В этом случае вы становитесь соучредителем магазина в вашем регионе. И тогда, помимо процентов, которые вы уже получаете от покупок вашей базы покупателей, у вас  будет доля – 10%.</li>
        </ul>
        <a href="">Хочу осуществить мечту</a>
      </li>
      <li>
        <span>О нашей продукции</span>
        <h3>Полезные для здоровья БАДы</h3>
        <p>Мы производим высококачественные пищевые добавки – витамины и минералы, которые компенсируют недостаток питательных веществ в организме.</p>
        <p>Подобная продукция является очень востребованной на рынке товаров для здоровья. Это означает, что вам не составит труда заинтересовать ею ваших потенциальных покупателей.</p>
        <p>Мы создаём наши добавки только из натуральных органических ингредиентов без использования вредной химии, что особенно ценится современными потребителями биологически активных добавок.</p>
        <p>Присоединяйтесь к нам и помогайте людям вести здоровый образ жизни!</p>
        <button>Присоединиться к программе</button>
        <button>Подробнее о продукции</button>
      </li>
    </ul>
  </div>
</section>
