<section class="partner-possibility">
  <div class="container partner-possibility__container">
    <span class="pre-title-text partner-possibility__pre-title">не упустите возможность</span>
    <h2 class="partner-possibility__title">Станьте нашим партнёром и начинайте зарабатывать прямо сейчас!</h2>
    <div class="partner-possibility__btn-block">
      <button class="btn-reset btn possibility-btn">Стать партнёром</button>
      <button class="btn-reset btn possibility-btn">Задать вопрос</button>
    </div>
  </div>
</section>
