<section class="partner-offer">
  <div class="container partner-offer__container">
    <span>что мы предлагаем</span>
    <h2 class="partner-offer__title">Увеличь свой доход вместе с нами</h2>
    <p class="partner-offer__desc">Сотрудничество с нашей компанией в качестве партнера открывает для вас великолепную возможность иметь дополнительный доход без вложений, а в перспективе создать себе базу для получения стабильного пассивного дохода, и даже открыть своё собственное дело.</p>
    <button class="btn-reset partner-offer__btn">Начать прямо сейчас</button>
  </div>
</section>
