<section class="section user-cabinet">
  <div class="container user-cabinet__container">
    <aside class="side-menu">
      <div class="side-menu__user">
        <div><img class="user-ava" src="" alt="аватар"></div>
        <div class="side-menu__user-info">
          <span class="name">Алексей</span>
          <span class="surname">Добромудровский</span>
        </div>
      </div>
      <ul class="list-reset side-menu__list">
        <li><a href="/order.html"></a>Заказы</li>
        <li><a href="/new.html"></a>Новости</li>
        <li><a href="/profile.html"></a>Ваш профиль</li>
        <li><a href="/support.html"></a>Служба поддержки</li>
        <li><a href=""></a>Обратная связь</li>
        <li><a href="/faworite.html"></a>Избранное</li>
      </ul>
    </aside>
    <div class="content">
      <h2 class="welcome__title">Здравствуйте, Алексей!</h2>
      <p class="welcome__desc">Хорошего настроения</p>
    </div>
  </div>
</section>
