// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Roboto", sans-serif;
  --font-family-title: "Philosopher", sans-serif;
  --font-family-main-title: "Exo2", sans-serif;
  --font-family-btn: "Montserrat", sans-serif;
  --font-family-footitle: "Oswald", sans-serif;
  --content-width: 1610px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
}
